# Bitconnect Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/bitconnect_price.csv')

In [3]:
df.tail()

             Date      Open      High       Low     Close  Volume Market Cap
224  Jan 24, 2017  0.152959  0.671748  0.134264  0.142972  33,237    766,670
225  Jan 23, 2017  0.128182  0.156983  0.126968  0.154695   6,921    641,762
226  Jan 22, 2017  0.174903  0.178088  0.123697  0.128067     526    874,666
227  Jan 21, 2017  0.145710  0.236289  0.144554  0.174829  12,872    727,753
228  Jan 20, 2017  0.162671  0.166808  0.145625  0.145625   5,978    812,236

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          229
Open          229
High          229
Low           229
Close         229
Volume        229
Market Cap    229
dtype: int64

In [6]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here but there are several data which have different format. Some of the data do not use number format.

In [7]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

Convert time column into date time format

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 229 entries, 0 to 228
Data columns (total 7 columns):
Date          229 non-null datetime64[ns]
Open          229 non-null float64
High          229 non-null float64
Low           229 non-null float64
Close         229 non-null float64
Volume        229 non-null float64
Market Cap    229 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 12.6 KB

In [11]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market Cap    0
dtype: int64

In [12]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

The data is clean, no null value and has same format