# Dash Price

In [14]:
import csv
import pandas as pd
import numpy as np

In [15]:
df = pd.read_csv('../data/raw/bitcoin/dash_price.csv')

In [16]:
df.tail()

              Date      Open      High       Low     Close   Volume Market Cap
1295  Feb 18, 2014  1.180000  1.500000  0.841751  1.040000  160,779  3,960,320
1296  Feb 17, 2014  0.406039  1.500000  0.402588  1.450000  178,618  1,360,260
1297  Feb 16, 2014  0.325840  0.459833  0.310345  0.406976   28,017  1,085,280
1298  Feb 15, 2014  0.331111  0.354461  0.219434  0.314865   21,119  1,092,120
1299  Feb 14, 2014  0.213899  0.378883  0.213899  0.374024   15,422    702,537

In [17]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [19]:
df.count()

Date          1300
Open          1300
High          1300
Low           1300
Close         1300
Volume        1300
Market Cap    1300
dtype: int64

In [7]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here but there are several data which have different format. Some of the data do not use number format.

In [8]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

Convert time column into date time format

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1300 entries, 0 to 1299
Data columns (total 7 columns):
Date          1300 non-null datetime64[ns]
Open          1300 non-null float64
High          1300 non-null float64
Low           1300 non-null float64
Close         1300 non-null float64
Volume        1300 non-null float64
Market Cap    1300 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 71.2 KB

In [11]:
df.isnull().sum()

Date          0
Open          0
High          0
Low           0
Close         0
Volume        0
Market Cap    0
dtype: int64

In [13]:
df.tail()

           Date      Open      High       Low     Close    Volume  Market Cap
1295 2014-02-18  1.180000  1.500000  0.841751  1.040000  160779.0   3960320.0
1296 2014-02-17  0.406039  1.500000  0.402588  1.450000  178618.0   1360260.0
1297 2014-02-16  0.325840  0.459833  0.310345  0.406976   28017.0   1085280.0
1298 2014-02-15  0.331111  0.354461  0.219434  0.314865   21119.0   1092120.0
1299 2014-02-14  0.213899  0.378883  0.213899  0.374024   15422.0    702537.0

In [12]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

The data is clean no null value and has same format