# H-DHT11 and T-DHT11 measures

First I will try to read the data from sensor H-DHT11 and T-DHT11 measures separately

In [61]:
import csv
import pandas as pd
import numpy as np
import json

In [62]:
data = []
with open('../data/raw/measures/H-DHT11-measures.json','r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)

In [63]:
df1 = pd.read_csv('../data/raw/measures/T-DHT11-measures.csv')

In [64]:
df.head()

    sensor                  time  value
0  H-DHT11  2017-12-22T11:22:11Z     31
1  H-DHT11  2017-12-22T11:22:16Z     31
2  H-DHT11  2017-12-22T11:22:20Z     31
3  H-DHT11  2017-12-22T11:22:24Z     31
4  H-DHT11  2017-12-22T11:22:28Z     31

In [65]:
df.tail()

          sensor                  time  value
1420297  H-DHT11  2018-03-13T11:41:53Z     33
1420298  H-DHT11  2018-03-13T11:41:57Z     33
1420299  H-DHT11  2018-03-13T11:42:01Z     33
1420300  H-DHT11  2018-03-13T11:42:05Z     33
1420301  H-DHT11  2018-03-13T11:42:09Z     33

In [66]:
df1.head()

    sensor  value                  time
0  T-DHT11     27  2017-12-22T11:22:11Z
1  T-DHT11     28  2017-12-22T11:22:16Z
2  T-DHT11     28  2017-12-22T11:22:20Z
3  T-DHT11     28  2017-12-22T11:22:24Z
4  T-DHT11     28  2017-12-22T11:22:28Z

In [67]:
df1.tail()

          sensor  value                  time
1420303  T-DHT11     26  2018-03-13T11:41:53Z
1420304  T-DHT11     26  2018-03-13T11:41:57Z
1420305  T-DHT11     26  2018-03-13T11:42:01Z
1420306  T-DHT11     26  2018-03-13T11:42:05Z
1420307  T-DHT11     26  2018-03-13T11:42:09Z

In [68]:
df.columns

Index(['sensor', 'time', 'value'], dtype='object')

In [69]:
df1.columns

Index(['sensor', 'value', 'time'], dtype='object')

In [70]:
df.count()

sensor    1420302
time      1420302
value     1420302
dtype: int64

In [71]:
df1.count()

sensor    1420308
value     1420308
time      1420308
dtype: int64

In [72]:
df.isnull().sum()

sensor    0
time      0
value     0
dtype: int64

In [73]:
df1.isnull().sum()

sensor    0
value     0
time      0
dtype: int64

In [74]:
df.dtypes

sensor    object
time      object
value      int64
dtype: object

In [75]:
df1.dtypes

sensor    object
value      int64
time      object
dtype: object

Convert time column into date time format

In [76]:
df['time'] = pd.to_datetime(df['time'])
df1['time'] = pd.to_datetime(df1['time'])

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420302 entries, 0 to 1420301
Data columns (total 3 columns):
sensor    1420302 non-null object
time      1420302 non-null datetime64[ns]
value     1420302 non-null int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 32.5+ MB

In [78]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1420308 entries, 0 to 1420307
Data columns (total 3 columns):
sensor    1420308 non-null object
value     1420308 non-null int64
time      1420308 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 32.5+ MB

In [79]:
assert df.notna().all().all()
assert df1.notna().all().all()

In [80]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

        total  percent
sensor      0      0.0
time        0      0.0
value       0      0.0

In [81]:
missingdf1 = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf1['percent'] = missingdf1['total'] / len(df1)
missingdf1

        total  percent
sensor      0      0.0
time        0      0.0
value       0      0.0

No missing data between data sensor T-DHT11-measures and H-DHT11-measures

T-DHT11 measures the temperature and H-DHT11 measures the humidity. Here I try to merge the data T-DHT11-measures and H-DHT11-measures, because it used the same type of sensor and the measurement time is almost the same

In [82]:
df.rename(columns={'sensor': 'humidity sensor','value' : 'humidity value'},inplace=True)

In [83]:
df.head()

  humidity sensor                time  humidity value
0         H-DHT11 2017-12-22 11:22:11              31
1         H-DHT11 2017-12-22 11:22:16              31
2         H-DHT11 2017-12-22 11:22:20              31
3         H-DHT11 2017-12-22 11:22:24              31
4         H-DHT11 2017-12-22 11:22:28              31

In [84]:
df1.rename(columns={'sensor': 'temperature sensor','value' : 'temperature value'},inplace=True)

In [85]:
df1.head()

  temperature sensor  temperature value                time
0            T-DHT11                 27 2017-12-22 11:22:11
1            T-DHT11                 28 2017-12-22 11:22:16
2            T-DHT11                 28 2017-12-22 11:22:20
3            T-DHT11                 28 2017-12-22 11:22:24
4            T-DHT11                 28 2017-12-22 11:22:28

In [86]:
newdf =  pd.merge(df, df1, on='time', how='outer')

In [87]:
newdf.head()

,humidity sensor,time,humidity value,temperature sensor,temperature value
0,H-DHT11,2017-12-22 11:22:11,31.0,T-DHT11,27.0
1,H-DHT11,2017-12-22 11:22:16,31.0,T-DHT11,28.0
2,H-DHT11,2017-12-22 11:22:20,31.0,T-DHT11,28.0
3,H-DHT11,2017-12-22 11:22:24,31.0,T-DHT11,28.0
4,H-DHT11,2017-12-22 11:22:28,31.0,T-DHT11,28.0

Rearrange the columns

In [89]:
newdf = newdf.reindex(columns=['time','humidity sensor','humidity value','temperature sensor','temperature value'])
newdf = newdf[['time','humidity sensor','humidity value','temperature sensor','temperature value']]

In [90]:
newdf.head()

,time,humidity sensor,humidity value,temperature sensor,temperature value
0,2017-12-22 11:22:11,H-DHT11,31.0,T-DHT11,27.0
1,2017-12-22 11:22:16,H-DHT11,31.0,T-DHT11,28.0
2,2017-12-22 11:22:20,H-DHT11,31.0,T-DHT11,28.0
3,2017-12-22 11:22:24,H-DHT11,31.0,T-DHT11,28.0
4,2017-12-22 11:22:28,H-DHT11,31.0,T-DHT11,28.0

In [91]:
newdf.tail()

,time,humidity sensor,humidity value,temperature sensor,temperature value
1501869,2018-03-13 11:30:28,NaN,NaN,T-DHT11,26.0
1501870,2018-03-13 11:30:49,NaN,NaN,T-DHT11,26.0
1501871,2018-03-13 11:34:07,NaN,NaN,T-DHT11,26.0
1501872,2018-03-13 11:36:55,NaN,NaN,T-DHT11,26.0
1501873,2018-03-13 11:37:15,NaN,NaN,T-DHT11,26.0

In [92]:
missingnewdf = pd.DataFrame(newdf.isna().sum()).rename(columns = {0: 'total'})
missingnewdf['percent'] = missingnewdf['total'] / len(newdf)
missingnewdf

                    total   percent
time                    0  0.000000
humidity sensor     81572  0.054313
humidity value      81572  0.054313
temperature sensor  81566  0.054309
temperature value   81566  0.054309

After merging the data from H-DHT11 and T-DHT11 sensor there are many missing data founded. Here I will try to interpolate the missing data.

Fill the NaN value on humidity value with intepolate data using time

In [93]:
newdf.set_index('time',inplace=True)
new_df = newdf.interpolate(method="time")

In [94]:
new_df.tail()

,humidity sensor,humidity value,temperature sensor,temperature value
time,,,,
2018-03-13 11:30:28,NaN,33.0,T-DHT11,26.0
2018-03-13 11:30:49,NaN,33.0,T-DHT11,26.0
2018-03-13 11:34:07,NaN,33.0,T-DHT11,26.0
2018-03-13 11:36:55,NaN,33.0,T-DHT11,26.0
2018-03-13 11:37:15,NaN,33.0,T-DHT11,26.0

Humidity sensor still have NaN value and we will try to use another method to fill in the NaN data

In [95]:
new_df1 = new_df.fillna(method="ffill")
new_df1.tail()

,humidity sensor,humidity value,temperature sensor,temperature value
time,,,,
2018-03-13 11:30:28,H-DHT11,33.0,T-DHT11,26.0
2018-03-13 11:30:49,H-DHT11,33.0,T-DHT11,26.0
2018-03-13 11:34:07,H-DHT11,33.0,T-DHT11,26.0
2018-03-13 11:36:55,H-DHT11,33.0,T-DHT11,26.0
2018-03-13 11:37:15,H-DHT11,33.0,T-DHT11,26.0

In [98]:
missingnewdf1 = pd.DataFrame(new_df1.isna().sum()).rename(columns = {0: 'total'})
missingnewdf1['percent'] = missingnewdf1['total'] / len(new_df1)
missingnewdf1

                    total  percent
humidity sensor         0      0.0
humidity value          0      0.0
temperature sensor      0      0.0
temperature value       0      0.0

After interpolate the data no more missing value and I assume the data is clean

In [99]:
new_df1.count()

humidity sensor       1501874
humidity value        1501874
temperature sensor    1501874
temperature value     1501874
dtype: int64