# Task 1 Massive Data Processing

# Measures

In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('../data/raw/H-DHT22-measures.csv')

In [4]:
df.head()

    sensor  value                  time
0  H-DHT22   15.7  2017-12-19T14:07:18Z
1  H-DHT22   15.7  2017-12-19T14:07:25Z
2  H-DHT22   15.7  2017-12-19T14:07:32Z
3  H-DHT22   15.7  2017-12-19T14:07:38Z
4  H-DHT22   15.7  2017-12-19T14:07:45Z

In [5]:
df.tail()

          sensor  value                  time
1440155  H-DHT22    1.0  2018-03-13T11:41:54Z
1440156  H-DHT22    1.0  2018-03-13T11:41:58Z
1440157  H-DHT22    1.0  2018-03-13T11:42:02Z
1440158  H-DHT22    1.0  2018-03-13T11:42:06Z
1440159  H-DHT22    1.0  2018-03-13T11:42:10Z

In [6]:
df.isnull().sum()

sensor    0
value     0
time      0
dtype: int64

Measures data is clean no null value or error data