# Task 1 Massive Data Processing

# Iris Data

In [1]:
import csv
import pandas as pd
import numpy as np

In [8]:
dataset = pd.read_csv ("../data/raw/iris/iris.data.csv")

In [9]:
dataset.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [10]:
dataset.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [11]:
dataset.isnull().head()

     5.1    3.5    1.4    0.2  Iris-setosa
0  False  False  False  False        False
1  False  False  False  False        False
2  False  False  False  False        False
3  False  False  False  False        False
4  False  False  False  False        False

In [12]:
dataset.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [13]:
dataset.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

In [15]:
# descriptions
print(dataset.describe())

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000

In [16]:
# class distribution
print(dataset.groupby("class").size())

KeyError: 'class'

Iris data is clean no null value or error data