# Task 1 Massive Data Processing

# Iris Data

In [2]:
import csv
import pandas as pd
import numpy as np

In [3]:
datairis = pd.read_csv ("../data/raw/iris.data.csv")

In [4]:
datairis.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [5]:
datairis.tail()

     5.1  3.5  1.4  0.2     Iris-setosa
144  6.7  3.0  5.2  2.3  Iris-virginica
145  6.3  2.5  5.0  1.9  Iris-virginica
146  6.5  3.0  5.2  2.0  Iris-virginica
147  6.2  3.4  5.4  2.3  Iris-virginica
148  5.9  3.0  5.1  1.8  Iris-virginica

In [6]:
datairis.isnull().head()

     5.1    3.5    1.4    0.2  Iris-setosa
0  False  False  False  False        False
1  False  False  False  False        False
2  False  False  False  False        False
3  False  False  False  False        False
4  False  False  False  False        False

In [7]:
datairis.dtypes

5.1            float64
3.5            float64
1.4            float64
0.2            float64
Iris-setosa     object
dtype: object

In [8]:
datairis.isnull().sum()

5.1            0
3.5            0
1.4            0
0.2            0
Iris-setosa    0
dtype: int64

Iris data is clean no null value or error data