# Monero Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/monero_price.csv')

In [3]:
df.tail()

              Date  Open  High   Low  Close  Volume  Market Cap
1198  May 25, 2014  4.04  4.04  2.80   3.14  283545     3774890
1199  May 24, 2014  2.92  4.01  2.62   3.70  248028     2653720
1200  May 23, 2014  2.05  3.43  2.05   2.96  266852     1816200
1201  May 22, 2014  1.59  2.19  1.36   2.10  132918     1371470
1202  May 21, 2014  2.47  2.65  1.23   1.60  246540     2079640

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          1203
Open          1203
High          1203
Low           1203
Close         1203
Volume        1203
Market Cap    1203
dtype: int64

In [6]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume          int64
Market Cap      int64
dtype: object

There is no missing data here and there are several data which have different format. Some of the data do not use number format

Convert time column into date time format

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1203 entries, 0 to 1202
Data columns (total 7 columns):
Date          1203 non-null datetime64[ns]
Open          1203 non-null float64
High          1203 non-null float64
Low           1203 non-null float64
Close         1203 non-null float64
Volume        1203 non-null int64
Market Cap    1203 non-null int64
dtypes: datetime64[ns](1), float64(4), int64(2)
memory usage: 65.9 KB

In [10]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

In [11]:
df.count()

Date          1203
Open          1203
High          1203
Low           1203
Close         1203
Volume        1203
Market Cap    1203
dtype: int64

The data is clean, no null value and has same format