# Nem Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/nem_price.csv')

In [3]:
df.tail()

             Date      Open      High       Low     Close  Volume Market Cap
884  Apr 05, 2015  0.000272  0.000283  0.000218  0.000232  26,800  2,443,720
885  Apr 04, 2015  0.000310  0.000318  0.000251  0.000277  23,550  2,792,120
886  Apr 03, 2015  0.000309  0.000330  0.000291  0.000310  20,678  2,778,750
887  Apr 02, 2015  0.000242  0.000323  0.000227  0.000314  28,549  2,179,320
888  Apr 01, 2015  0.000400  0.000458  0.000170  0.000242  65,525  3,604,110

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          889
Open          889
High          889
Low           889
Close         889
Volume        889
Market Cap    889
dtype: int64

In [6]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here and there are several data which have different format. Some of the data do not use number format

Convert time column into date time format

In [7]:
df['Date'] = pd.to_datetime(df['Date'])

In [11]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 7 columns):
Date          889 non-null datetime64[ns]
Open          889 non-null float64
High          889 non-null float64
Low           889 non-null float64
Close         889 non-null float64
Volume        889 non-null float64
Market Cap    889 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 48.7 KB

In [13]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

In [14]:
df.count()

Date          889
Open          889
High          889
Low           889
Close         889
Volume        889
Market Cap    889
dtype: int64

The data is clean, no null value and has same format