# Omisego Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/omisego_price.csv')

In [3]:
df.tail()

            Date  Open  High   Low  Close       Volume   Market Cap
25  Aug 11, 2017  5.96  7.81  5.41   7.23  200,287,000  586,021,000
26  Aug 10, 2017  3.41  6.36  3.38   5.93  234,693,000  335,183,000
27  Aug 09, 2017  3.62  3.68  3.26   3.45   24,783,900  355,440,000
28  Aug 08, 2017  3.15  3.76  3.07   3.61   49,778,700  309,766,000
29  Aug 07, 2017  2.70  3.25  2.63   3.15   34,417,900  265,138,000

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          30
Open          30
High          30
Low           30
Close         30
Volume        30
Market Cap    30
dtype: int64

In [6]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here and there are several data which have different format. Some of the data do not use number format

In [7]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

Convert time column into date time format

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
Date          30 non-null datetime64[ns]
Open          30 non-null float64
High          30 non-null float64
Low           30 non-null float64
Close         30 non-null float64
Volume        30 non-null float64
Market Cap    30 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.7 KB

In [11]:
df.tail()

         Date  Open  High   Low  Close       Volume   Market Cap
25 2017-08-11  5.96  7.81  5.41   7.23  200287000.0  586021000.0
26 2017-08-10  3.41  6.36  3.38   5.93  234693000.0  335183000.0
27 2017-08-09  3.62  3.68  3.26   3.45   24783900.0  355440000.0
28 2017-08-08  3.15  3.76  3.07   3.61   49778700.0  309766000.0
29 2017-08-07  2.70  3.25  2.63   3.15   34417900.0  265138000.0

In [12]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

The data is clean, no null value and has same format