# H-HTU21 and T-HTU21 measures

In [1]:
import pandas as pd
import numpy as np
import json

In [4]:
data = []
with open('../data/raw/measures/P-DM280-measures.json','r') as f:
    for line in f:
        data.append(json.loads(line))

df = pd.DataFrame(data)

In [5]:
data = []
with open('../data/raw/measures/T-DM280-measures.json','r') as f:
    for line in f:
        data.append(json.loads(line))

df1 = pd.DataFrame(data)

In [6]:
df.head()

    sensor                  time    value
0  P-DM280  2017-12-22T10:51:32Z  1040.00
1  P-DM280  2017-12-22T10:51:35Z  1040.00
2  P-DM280  2017-12-22T10:51:38Z  1039.97
3  P-DM280  2017-12-22T10:51:41Z  1039.95

In [7]:
df1.head()

    sensor                  time  value
0  T-DM280  2017-12-22T10:51:31Z  26.43
1  T-DM280  2017-12-22T10:51:35Z  26.43
2  T-DM280  2017-12-22T10:51:38Z  26.45
3  T-DM280  2017-12-22T10:51:41Z  26.45

In [10]:
df.count()

sensor    4
time      4
value     4
dtype: int64

In [11]:
df1.count()

sensor    4
time      4
value     4
dtype: int64

In [12]:
df.dtypes

sensor     object
time       object
value     float64
dtype: object

In [13]:
df1.dtypes

sensor     object
time       object
value     float64
dtype: object

In [14]:
df.isnull().sum()

sensor    0
time      0
value     0
dtype: int64

In [15]:
df1.isnull().sum()

sensor    0
time      0
value     0
dtype: int64

Convert time column into date time format

In [16]:
df['time'] = pd.to_datetime(df['time'])
df1['time'] = pd.to_datetime(df1['time'])

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null datetime64[ns]
value     4 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 176.0+ bytes

In [18]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 3 columns):
sensor    4 non-null object
time      4 non-null datetime64[ns]
value     4 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 176.0+ bytes

No missing data and different format between data sensor P-DM280-measures and T-DM280-measures

T-DM280 measures the temperature and P-DM280 measures the pressure. Here I try to merge the data P-DM280 and T-DM280-measures, because the measurement time is almost the same

In [19]:
df.rename(columns={'sensor': 'pressure sensor','value' : 'pressure value'},inplace=True)
df1.rename(columns={'sensor': 'temperature sensor','value' : 'temperature value'},inplace=True)

In [20]:
df.head()

  pressure sensor                time  pressure value
0         P-DM280 2017-12-22 10:51:32         1040.00
1         P-DM280 2017-12-22 10:51:35         1040.00
2         P-DM280 2017-12-22 10:51:38         1039.97
3         P-DM280 2017-12-22 10:51:41         1039.95

In [21]:
df1.head()

  temperature sensor                time  temperature value
0            T-DM280 2017-12-22 10:51:31              26.43
1            T-DM280 2017-12-22 10:51:35              26.43
2            T-DM280 2017-12-22 10:51:38              26.45
3            T-DM280 2017-12-22 10:51:41              26.45

In [22]:
newdf =  pd.merge(df, df1, on='time', how='outer')

In [23]:
newdf.head()

,pressure sensor,time,pressure value,temperature sensor,temperature value
0,P-DM280,2017-12-22 10:51:32,1040.00,NaN,NaN
1,P-DM280,2017-12-22 10:51:35,1040.00,T-DM280,26.43
2,P-DM280,2017-12-22 10:51:38,1039.97,T-DM280,26.45
3,P-DM280,2017-12-22 10:51:41,1039.95,T-DM280,26.45
4,NaN,2017-12-22 10:51:31,NaN,T-DM280,26.43

In [26]:
newdf = newdf.reindex(columns=['time','pressure sensor','pressure value','temperature sensor','temperature value'])
newdf = newdf[['time','pressure sensor','pressure value','temperature sensor','temperature value']]
newdf.head()

,time,pressure sensor,pressure value,temperature sensor,temperature value
0,2017-12-22 10:51:32,P-DM280,1040.00,NaN,NaN
1,2017-12-22 10:51:35,P-DM280,1040.00,T-DM280,26.43
2,2017-12-22 10:51:38,P-DM280,1039.97,T-DM280,26.45
3,2017-12-22 10:51:41,P-DM280,1039.95,T-DM280,26.45
4,2017-12-22 10:51:31,NaN,NaN,T-DM280,26.43

In [27]:
newdf.count()

time                  5
pressure sensor       4
pressure value        4
temperature sensor    4
temperature value     4
dtype: int64

In [28]:
missingnewdf = pd.DataFrame(newdf.isna().sum()).rename(columns = {0: 'total'})
missingnewdf['percent'] = missingnewdf['total'] / len(newdf)
missingnewdf

                    total  percent
time                    0      0.0
pressure sensor         1      0.2
pressure value          1      0.2
temperature sensor      1      0.2
temperature value       1      0.2

After merging the data from P-DM280 and T-DM280 sensor there are many missing data founded. This is maybe because the difference measurement time, so here I will try to interpolate the missing data.

Fill the NaN value on pressure and temperature value with intepolate data using time

In [29]:
newdf.set_index('time',inplace=True)
new_df = newdf.interpolate(method="time")

In [30]:
new_df.tail()

,pressure sensor,pressure value,temperature sensor,temperature value
time,,,,
2017-12-22 10:51:32,P-DM280,1040.00,NaN,NaN
2017-12-22 10:51:35,P-DM280,1040.00,T-DM280,26.43
2017-12-22 10:51:38,P-DM280,1039.97,T-DM280,26.45
2017-12-22 10:51:41,P-DM280,1039.95,T-DM280,26.45
2017-12-22 10:51:31,NaN,1040.00,T-DM280,26.43

There are several data that is NaN, so let's try another method of fill

In [31]:
new_df1 = new_df.fillna(method="bfill")
new_df1.tail()

,pressure sensor,pressure value,temperature sensor,temperature value
time,,,,
2017-12-22 10:51:32,P-DM280,1040.00,T-DM280,26.43
2017-12-22 10:51:35,P-DM280,1040.00,T-DM280,26.43
2017-12-22 10:51:38,P-DM280,1039.97,T-DM280,26.45
2017-12-22 10:51:41,P-DM280,1039.95,T-DM280,26.45
2017-12-22 10:51:31,NaN,1040.00,T-DM280,26.43

In [35]:
new_df2 = new_df1.fillna(method="ffill")
new_df2.tail()

,pressure sensor,pressure value,temperature sensor,temperature value
time,,,,
2017-12-22 10:51:32,P-DM280,1040.00,T-DM280,26.43
2017-12-22 10:51:35,P-DM280,1040.00,T-DM280,26.43
2017-12-22 10:51:38,P-DM280,1039.97,T-DM280,26.45
2017-12-22 10:51:41,P-DM280,1039.95,T-DM280,26.45
2017-12-22 10:51:31,P-DM280,1040.00,T-DM280,26.43

In [36]:
new_df2.count()

pressure sensor       5
pressure value        5
temperature sensor    5
temperature value     5
dtype: int64

After interpolate the data no more missing value and I assume the data is clean