# H-DHT22 and T-DHT22 measures

First I will try to read the data from sensor H-DHT22 and T-DHT22 measures separately

In [2]:
import csv
import pandas as pd
import numpy as np
import json

In [3]:
df = pd.read_csv('../data/raw/measures/T-DHT22-measures.csv')

In [4]:
df1 = pd.read_csv('../data/raw/measures/H-DHT22-measures.csv')

In [6]:
df.tail()

          sensor  value                  time
1440145  T-DHT22   27.4  2018-03-13T11:41:54Z
1440146  T-DHT22   27.4  2018-03-13T11:41:58Z
1440147  T-DHT22   27.5  2018-03-13T11:42:02Z
1440148  T-DHT22   27.4  2018-03-13T11:42:06Z
1440149  T-DHT22   27.4  2018-03-13T11:42:10Z

In [7]:
df1.tail()

          sensor  value                  time
1440155  H-DHT22    1.0  2018-03-13T11:41:54Z
1440156  H-DHT22    1.0  2018-03-13T11:41:58Z
1440157  H-DHT22    1.0  2018-03-13T11:42:02Z
1440158  H-DHT22    1.0  2018-03-13T11:42:06Z
1440159  H-DHT22    1.0  2018-03-13T11:42:10Z

In [8]:
df.count()

sensor    1440150
value     1440150
time      1440150
dtype: int64

In [9]:
df1.count()

sensor    1440160
value     1440160
time      1440160
dtype: int64

In [10]:
df.isnull().sum()

sensor    0
value     0
time      0
dtype: int64

In [11]:
df1.isnull().sum()

sensor    0
value     0
time      0
dtype: int64

Convert time column into date time format

In [12]:
df['time'] = pd.to_datetime(df['time'])
df1['time'] = pd.to_datetime(df1['time'])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440150 entries, 0 to 1440149
Data columns (total 3 columns):
sensor    1440150 non-null object
value     1440150 non-null float64
time      1440150 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 33.0+ MB

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440160 entries, 0 to 1440159
Data columns (total 3 columns):
sensor    1440160 non-null object
value     1440160 non-null float64
time      1440160 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 33.0+ MB

In [15]:
assert df.notna().all().all()
assert df1.notna().all().all()

In [16]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

        total  percent
sensor      0      0.0
value       0      0.0
time        0      0.0

In [17]:
missingdf1 = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf1['percent'] = missingdf1['total'] / len(df1)
missingdf1

        total  percent
sensor      0      0.0
value       0      0.0
time        0      0.0

No missing data and different format between data sensor T-DHT22-measures and H-DHT22-measures

T-DHT22 measures the temperature and H-DHT22 measures the humidity. Here I try to merge the data T-DHT22-measures and H-DHT22-measures, because the measurement time is almost the same

In [19]:
df.rename(columns={'sensor': 'temperature sensor','value' : 'temperature value'},inplace=True)
df1.rename(columns={'sensor': 'humidity sensor','value' : 'humidity value'},inplace=True)

In [21]:
df.tail()

        temperature sensor  temperature value                time
1440145            T-DHT22               27.4 2018-03-13 11:41:54
1440146            T-DHT22               27.4 2018-03-13 11:41:58
1440147            T-DHT22               27.5 2018-03-13 11:42:02
1440148            T-DHT22               27.4 2018-03-13 11:42:06
1440149            T-DHT22               27.4 2018-03-13 11:42:10

In [22]:
df1.tail()

        humidity sensor  humidity value                time
1440155         H-DHT22             1.0 2018-03-13 11:41:54
1440156         H-DHT22             1.0 2018-03-13 11:41:58
1440157         H-DHT22             1.0 2018-03-13 11:42:02
1440158         H-DHT22             1.0 2018-03-13 11:42:06
1440159         H-DHT22             1.0 2018-03-13 11:42:10

In [23]:
newdf =  pd.merge(df, df1, on='time', how='outer')

In [24]:
newdf.tail()

,temperature sensor,temperature value,time,humidity sensor,humidity value
1522248,NaN,NaN,2018-03-13 11:31:12,H-DHT22,1.0
1522249,NaN,NaN,2018-03-13 11:31:33,H-DHT22,1.0
1522250,NaN,NaN,2018-03-13 11:32:57,H-DHT22,1.0
1522251,NaN,NaN,2018-03-13 11:37:38,H-DHT22,1.0
1522252,NaN,NaN,2018-03-13 11:38:20,H-DHT22,1.0

In [26]:
newdf = newdf.reindex(columns=['time','temperature sensor','temperature value','humidity sensor','humidity value'])
newdf = newdf[['time','temperature sensor','temperature value','humidity sensor','humidity value']]
newdf.tail()

,time,temperature sensor,temperature value,humidity sensor,humidity value
1522248,2018-03-13 11:31:12,NaN,NaN,H-DHT22,1.0
1522249,2018-03-13 11:31:33,NaN,NaN,H-DHT22,1.0
1522250,2018-03-13 11:32:57,NaN,NaN,H-DHT22,1.0
1522251,2018-03-13 11:37:38,NaN,NaN,H-DHT22,1.0
1522252,2018-03-13 11:38:20,NaN,NaN,H-DHT22,1.0

In [27]:
newdf.count()

time                  1522253
temperature sensor    1440150
temperature value     1440150
humidity sensor       1440160
humidity value        1440160
dtype: int64

In [28]:
missingnewdf = pd.DataFrame(newdf.isna().sum()).rename(columns = {0: 'total'})
missingnewdf['percent'] = missingnewdf['total'] / len(newdf)
missingnewdf

                    total   percent
time                    0  0.000000
temperature sensor  82103  0.053935
temperature value   82103  0.053935
humidity sensor     82093  0.053929
humidity value      82093  0.053929

After merging the data from H-DHT22 and T-DHT22 sensor there are many missing data founded. This is maybe because the difference measurement time, so here I will try to interpolate the missing data.

Fill the NaN value on humidity value with intepolate data using time

In [29]:
newdf.set_index('time',inplace=True)
new_df = newdf.interpolate(method="time")

In [30]:
new_df.tail()

,temperature sensor,temperature value,humidity sensor,humidity value
time,,,,
2018-03-13 11:31:12,NaN,27.4,H-DHT22,1.0
2018-03-13 11:31:33,NaN,27.4,H-DHT22,1.0
2018-03-13 11:32:57,NaN,27.4,H-DHT22,1.0
2018-03-13 11:37:38,NaN,27.5,H-DHT22,1.0
2018-03-13 11:38:20,NaN,27.5,H-DHT22,1.0

Temperature sensor still have NaN value and we will try to use another method to fill in the NaN data

In [32]:
new_df1 = new_df.fillna(method="ffill")
new_df1.tail()

,temperature sensor,temperature value,humidity sensor,humidity value
time,,,,
2018-03-13 11:31:12,T-DHT22,27.4,H-DHT22,1.0
2018-03-13 11:31:33,T-DHT22,27.4,H-DHT22,1.0
2018-03-13 11:32:57,T-DHT22,27.4,H-DHT22,1.0
2018-03-13 11:37:38,T-DHT22,27.5,H-DHT22,1.0
2018-03-13 11:38:20,T-DHT22,27.5,H-DHT22,1.0

In [33]:
missingnewdf1 = pd.DataFrame(new_df1.isna().sum()).rename(columns = {0: 'total'})
missingnewdf1['percent'] = missingnewdf1['total'] / len(new_df1)
missingnewdf1

                    total  percent
temperature sensor      0      0.0
temperature value       0      0.0
humidity sensor         0      0.0
humidity value          0      0.0

In [34]:
new_df1.count()

temperature sensor    1522253
temperature value     1522253
humidity sensor       1522253
humidity value        1522253
dtype: int64

After interpolate and fill the data, no more missing value and I assume the data is clean