# Numeraire Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/numeraire_price.csv')

In [3]:
df.tail()

            Date   Open   High    Low  Close     Volume  Market Cap
25  Aug 11, 2017  26.46  41.47  26.06  33.64  3,202,390  33,143,700
26  Aug 10, 2017  28.84  29.21  26.46  26.46    748,370  36,136,200
27  Aug 09, 2017  27.96  33.04  26.79  29.24  1,128,830  35,034,100
28  Aug 08, 2017  27.86  28.34  25.22  27.97    521,900  34,067,900
29  Aug 07, 2017  28.32  30.01  26.70  27.93    456,117  34,625,700

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          30
Open          30
High          30
Low           30
Close         30
Volume        30
Market Cap    30
dtype: int64

In [6]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here and there are several data which have different format. Some of the data do not use number format

In [7]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

Convert time column into date time format

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
Date          30 non-null datetime64[ns]
Open          30 non-null float64
High          30 non-null float64
Low           30 non-null float64
Close         30 non-null float64
Volume        30 non-null float64
Market Cap    30 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.7 KB

In [10]:
df.tail()

         Date   Open   High    Low  Close     Volume  Market Cap
25 2017-08-11  26.46  41.47  26.06  33.64  3202390.0  33143700.0
26 2017-08-10  28.84  29.21  26.46  26.46   748370.0  36136200.0
27 2017-08-09  27.96  33.04  26.79  29.24  1128830.0  35034100.0
28 2017-08-08  27.86  28.34  25.22  27.97   521900.0  34067900.0
29 2017-08-07  28.32  30.01  26.70  27.93   456117.0  34625700.0

In [11]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

The data is clean, no null value and has same format