# Qtum Price

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/raw/bitcoin/qtum_price.csv')

In [3]:
df.tail()

            Date   Open   High    Low  Close       Volume   Market Cap
25  Aug 11, 2017  15.63  16.36  14.33  14.73   91,215,900  922,433,000
26  Aug 10, 2017  12.55  16.99  12.42  15.77  133,259,000  740,715,000
27  Aug 09, 2017  11.49  12.63  11.07  12.55   52,016,000  677,866,000
28  Aug 08, 2017  12.64  12.74  10.84  11.50   63,155,600  746,010,000
29  Aug 07, 2017  10.03  12.84   9.88  12.65   95,630,200  591,790,000

In [4]:
df.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Market Cap'], dtype='object')

In [5]:
df.count()

Date          30
Open          30
High          30
Low           30
Close         30
Volume        30
Market Cap    30
dtype: int64

In [7]:
df.dtypes

Date           object
Open          float64
High          float64
Low           float64
Close         float64
Volume         object
Market Cap     object
dtype: object

There is no missing data here and there are several data which have different format. Some of the data do not use number format

In [8]:
df['Volume'] = df['Volume'].apply(lambda x: float(str(x).replace(',',''))) 
df['Market Cap'] = df['Market Cap'].apply(lambda x: float(str(x).replace(',','')))

Convert time column into date time format

In [9]:
df['Date'] = pd.to_datetime(df['Date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
Date          30 non-null datetime64[ns]
Open          30 non-null float64
High          30 non-null float64
Low           30 non-null float64
Close         30 non-null float64
Volume        30 non-null float64
Market Cap    30 non-null float64
dtypes: datetime64[ns](1), float64(6)
memory usage: 1.7 KB

In [11]:
missingdf = pd.DataFrame(df.isna().sum()).rename(columns = {0: 'total'})
missingdf['percent'] = missingdf['total'] / len(df)
missingdf

            total  percent
Date            0      0.0
Open            0      0.0
High            0      0.0
Low             0      0.0
Close           0      0.0
Volume          0      0.0
Market Cap      0      0.0

The data is clean, no null value and has same format